[Unit]
Description=netpotd low interaction honeypot
After=network.target ufw.target

[Service]
ExecStart=/usr/bin/netpotd
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=netpotd.service
