[Unit]
Description=netpotd low interaction honeypot
After=network.target ufw.target

[Service]
ExecStart=/usr/bin/netpotd 21 22 80 139 443 445 8080
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=netpotd.service
